body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #e6e6e6;
}

/* Stijl voor de verticale navigatiebalk */
.navbar {
    width: 250px;
    background-color: #990d00;
    height: 100vh;
    position: fixed;
    overflow-y: auto; /* Zorg dat je kunt scrollen in de navbar */
    display: flex;
    flex-direction: column;
}

.navbar a:last-child {
    margin-bottom: 3rem;
}

.navbar a {
    padding: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #3d3535;
}

.content {
    margin-left: 250px; 
    padding: 40px;
    width: calc(100% - 250px);
  

}

.map {
    text-align: center;
}

.map img {
    max-width: 100%;
    width: 70rem;
    height: auto;
    border-radius: 30px;
}

.map h1 {
    font-size: 24px;
    margin: 20px 0;
}

.map p {
    font-size: 18px;
    margin-bottom: 20px;
}

.map button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.map button:hover {
    background-color: #45a049;
}

.youtube-container {
    text-align: center;
    margin-top: 10px;
}

.youtube-button {
    background-color: #990d00;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;

}

.red{
    color: red;
    
}

